body {
  padding-top: 50px;
  /*
  background: #94525A !important;
  background: -webkit-radial-gradient(95% 10%, farthest-corner, #94525A, #181528) !important;
  background: radial-gradient(farthest-corner at 95% 10%, #94525A, #181528) !important;
  */
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/*
p, h1.title, h2 {
  color: white;
}

div.lastcomments {
  background: #94525A !important;
}

div.comment-body {
  color: black !important;
}
*/
